In [104]:
%load_ext autoreload
%autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [105]:
# export
from chamomile.chart.chart import Chart
from chamomile.chart.data_model import construct_categorical_data
from chamomile.chart.base_plot import BasePlot
import pandas as pd

from bokeh.models.ranges import FactorRange, Range1d
from bokeh.io import show

In [106]:
#export
class PlotLine(BasePlot):
    def __init__(self, chart=None):
        x_axis_type = 'numeric'
        super().__init__(chart=chart, x_axis_type=x_axis_type)
        
                
    def line(self, df = None, x: str = None, y = None, color: str = None, text: str = None):
        p = self._chart.figure
        
        data = df.copy()
        if isinstance(y, str):
            if color is not None:
                data = pd.pivot_table(data, index=x, columns=color, values=y).reset_index()
                #text_data = pd.pivot_table(data, index=x, columns=color, values=text).reset_index()
                y = df[color].unique()
                #text = df[color].unique()
            else:
                y = [y]
                #text = [text]
            #data = data.merge(text_data)
        elif isinstance(y, list):
            if color is None:
                color = y
            else:
                if not isinstance(color, list) or set(color) != set(y):
                    raise Exception("Wrong set of y and color")
        print(data)
        print(y)
        for sy in y:
            
            p.line(data[x], data[sy])

        return self

In [107]:
data = {
    'year': [2016, 2017, 2018, 2019, 2020, 2016, 2017, 2018, 2019, 2020],
    'fruit': ['apple', 'apple', 'apple', 'apple', 'apple', 'momo', 'momo', 'momo', 'momo', 'momo'],
    'price': [10, 11, 12, 13, 11, 15, 20, 11, 12, 13]
}

df = pd.DataFrame(data)
df

   year  fruit  price
0  2016  apple     10
1  2017  apple     11
2  2018  apple     12
3  2019  apple     13
4  2020  apple     11
5  2016   momo     15
6  2017   momo     20
7  2018   momo     11
8  2019   momo     12
9  2020   momo     13

In [108]:
pl = PlotLine()
pl.line(df, x='year', y='price', color='fruit')

fruit  year  apple  momo
0      2016     10    15
1      2017     11    20
2      2018     12    11
3      2019     13    12
4      2020     11    13
['apple' 'momo']

In [109]:
pl.show()

NameError: name 'show' is not defined

In [97]:
pd.pivot_table(df, index='year', columns='fruit', values='price').reset_index()

fruit  year  apple  momo
0      2016     10    15
1      2017     11    20
2      2018     12    11
3      2019     13    12
4      2020     11    13